.menu__efectoFormulario2 {
  background-color: #111;
  width: 300px;
  height: 200px;
  margin-top: 5px;
  padding: 10px; }

.flexboxRow__flexboxColum {
  width: 300px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column; }

.menu__logo--animacionTitulo {
  animation: bounce; }

body {
  background-image: url(../imagen/FONDO_ZABANNE.jpg);
  background-size: cover; }

section div {
  max-width: 1000px;
  width: 90%;
  margin: 0;
  background: #FFF;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px; }

section a {
  width: 500px;
  height: 200px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block; }
  section a img {
    width: 100%; }

section h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px; }
  section h3 a {
    color: #000; }

section p {
  line-height: 28px;
  margin-bottom: 20px; }

section a {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 30px;
  color: #FFF;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #403CC2;
  transition: .3s ease all; }
  section a :hover {
    background: #1B1881;
    text-decoration: none; }
  section a span {
    font-weight: 600; }

.boton--absolute {
  position: absolute;
  right: 20px;
  bottom: -25px; }

section div {
  text-align: center;
  margin: 80px 0; }
  section div h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-style: italic; }
